body {
    background-color: rgb(236,208,120);
    }

.content {
    width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    }


iframe {
    border: none;
    width: 600px;
    height: 400px;
    }

#graph {
    width: 600px;
    height: 300px;
 
 }

.arrow {
    width: 50px;
    height: 200px;
    position: relative;
    background: #DDDDDD;
    }

.arrow-left {
    left: -100px;
    }

.arrow-right {
    left: 620px;
    top: -200px;
    }

section {
    display: none;
    margin-top: -400px;
    }

section.active {
    display: block;
    }

svg g.bars rect {
    fill: #333333;
    stroke: #FFFFFF;
    }

svg body div {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #CCFFCC url('/images/person.png');
    border: 1px solid black;
    color: transparent;

    }


svg body {
    margin: 0px;
    }

svg body div.oscar-ivan-zuluaga {
    background-image: url('/images/escobar.jpg');
    border-color: green;
    }

svg body div.juan-manuel-santos {
    background-image: url('/images/santos.jpg');
    }
svg body div.clara-l-pez-obreg-n {
    background-image: url('/images/lopez.jpg');
    }
svg body div.martha-lucia-ramirez {
    background-image: url('/images/ramirez.jpg');
    }
svg body div.enrique-pen--alosa-london--o {
    background-image: url('/images/penalosa.jpg');
    }
#selector circle {
    fill: #FFFFFF;
    stroke: #333333;
    }
#selector circle.active {
    fill: #555555;
    }
#selector svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
